body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* .main-section {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
} */

header h1 {
  text-align: center;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
  text-align: center;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
}

.btn-check {
  background: black;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;
}

/* FOOTER */
footer {
  width: 100%;
  background: black;
}

footer ul.social-links {
  width: 100%;
  min-height: 5vh;
  text-align: center;
}

.social-links li {
  margin: 1rem 2rem;
  display: inline-block;
}

.social-links li a {
  padding: 0.5rem 0.75rem;
  color: #fff;
}

.social-links li a:hover {
  background: white;
  color: #000;
  border-radius: 0.5rem;
}

i.fab {
  margin-right: 0.25rem;
}
